<h1>Tooltip</h1>
<p>This is the content section that takes up the remaining space.</p>
<button mouTooltip="This is a tooltip">Hover me</button>
<button mouTooltip="Tooltip on right" position="bottom">Right tooltip</button>
<br/>
<br/>
<br/>
<br/>
<div style="display: inline-block;" mouTooltip="This is a tooltip">
    <div class="tooltip-content1">
        This is a tooltip with left arrow<br/>
        This is a tooltip with left arrow<br/>
        This is a tooltip with left arrow<br/>
        This is a tooltip with left arrow<br/>
        This is a tooltip with left arrow<br/>
    </div>
</div>

